.header-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 25%;
    margin: 0%;
}

img {
    width: 6em;
    height: 5em;
    margin-left: 1em;
    margin-right: 10em;
}

.header {
    display: flex;
        color: whitesmoke;
        background-color: green;
        margin-top: 0;
        justify-content: center;
        align-items: center;
        height: 5em;
        width: 100%;
        margin-bottom: 3em;
        position: fixed;
        
}

.header-img {
    display: flex;
        justify-content: flex-start;
        margin: 0;
        width: 6em;
        height: 5em;
        margin-left: 1em;
        margin-right: 10em;
}

h1 {
    width: 100%;
   text-align: center;
}

.header-cadeaux {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    width: 6em;
    height: 7em;
    margin-left: 10em;
    margin-right: 1em;
    
}