.randomGiftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    align-items: center;
    margin-top: 20px;
    border: solid red;
}