.randomGiftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
    align-items: center;
    margin-top: 20px;
    border: solid red;
}

.title {
    font-size: 3em;
    color: blue;
}

.h2 {
    font-size: 2em;
    color: red;
}

.randomItem {
    font-size: 1.5em;
    color: green;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    border: solid blue;
}